{% extends "base.html" %}
{% block page_header %}Really Share Something{% endblock %}
{% block content %}
{% if ouser %}{% include "add_article.html" %}{% else %}<a href="{{ google_login_url }}"><p>You must login to submit articles</p></a>{% endif %}
 <div class="panel panel-default">

  <table class="table table-striped table-hover">
   <thead>
    <tr>

     <td colspan="2">candidate articles</td>
    </tr>
   </thead>
   <tbody>
   {% for article in articles %}
   <tr>
     {% if ouser %}
     <td class="votes">
       {% if ouser.vote>0 %}
        <a href="/vote/{{ article.id }}/up" onclick="return confirm('Are you sure you want to cast your {{ ouser.vote}} points toward this article?')" class="glyphicon glyphicon-unchecked vote">&nbsp;</a>
       {% else %}
        <a href="#" class="glyphicon glyphicon-unchecked vote" onclick="return alert('You need points to vote.  Click help to learn how to get points.')" title="you need points to vote">&nbsp;</a>
       {% endif %}
     </td>
     {% endif %}
    <td>
     <a href="/article/{{ article.id }}" class="article-link">{{ article.title|e }}</a>
    </td>
   {% endfor %}
   </tbody>
  </table>
 </div>
{% endblock %}
