{% extends "base.html" %}
{% block page_header %}Really Share Something{% endblock %}
{% block content %}
 <div class="panel panel-default">
  <table class="table table-striped table-hover">
   <thead>
    <tr>
     <td colspan="2">what's this thing all about?</td>
    </tr>
   </thead>
   <tbody>
   <tr>
    <td >
     <h4>What is oneth for?</h4>
     <p>This site aims to be the way to get us back to having a common parlance, a set of agreed upon conversations that we can all agree to debate over together.</p>

     <h4>How does it work?</h4>
     <p>Just like other websites, oneth starts with people submitting links to content on the web.  Then everyone votes to find the oneth article that everyone should read tomorrow.</p>


     <h4>How does voting work?</h4>
     <p>The community curates the articles by adding substantive questions about the content of articles. Each person gets to vote for tomorrow's article based on how much they contributed to questions and how well they've been able to answer the questions about today's oneth article.</p>
    </td>
   </tr>


   </tbody>

  </table>

 </div>

{% endblock %}
