{% if questions %}
  <div id="add-article-container" class="panel panel-default panel-group">
    <div class="panel-heading">
   <a data-toggle="collapse" data-parent="#add-article-container" href="#comments" style="display: block; height: 100%;">
    <h3 class="panel-title">
     View Questions
     <span class="caret"></span>
    </h3>
   </a>
  </div>
  <div class="panel-collapse panel-body collapse" id="comments" style="padding: 1em;">
  {% for question in questions %}
   <div class="well" id="question-{{ question.id }}">
     <a class="pull-right">flag this question for removal</a>
     {% if question.displayq %}
     <p class="question-content">Q: {{ question.content|e }}</p>

    <form action="/ans/{{ question.id }}/true" method="get" autocomplete="off">
      <button type="submit" value="Submit" enabled>True</button>
    </form>
    <form action="/ans/{{ question.id }}/false" method="get" autocomplete="off">
      <button type="submit" value="Submit" enabled>False</button>
    </form>
    <p class="question-answer"></p>
    {% else %}
    <p class="question-content" style="color:grey">Q: {{ question.content|e }}</p>
   <form action="/ans/{{ question.id }}/true" method="get" autocomplete="off">
     <button type="submit" value="Submit" disabled>True</button>
   </form>
   <form action="/ans/{{ question.id }}/false" method="get" autocomplete="off">
     <button type="submit" value="Submit" disabled>False</button>
   </form>
   <p class="question-answer">question already answered</p>
    {% endif %}
   </div>
   <script>
       $(function() {
         $("#question-{{ question.id }} form").on("submit", function(e) {
               e.preventDefault();
               $.ajax({
                   url: $(this).attr("action"),
                   type: 'POST',
                   data: $(this).serialize(),
                   success: function(data) {
                       $("#question-{{ question.id }}").find('.question-content').css("color", "grey");
                       $("#question-{{ question.id }} :input").attr("disabled", true);
                       $("#question-{{ question.id }}").find('.question-answer').html(data);
                   }
               });
           });
       });
   </script>
  {% endfor %}
</div>
 </div>
{% endif %}
